body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000; /* Black background */
}

.container {
    display: flex;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 200px;
}

.card img {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #000; /* Black text */
}

.card p {
    font-size: 0.9em;
    color: #000; /* Black text */
}

.card a {
    text-decoration: none;
}

.card button {
    background-color: purple;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #5a0f5f;
}
